// VARIABLES

$bg-main: #FBEEC1;
$bg-creme:      #F7F1E3; // rgb(247, 241, 227)
$bg-white: #F8F6F0;
$text-main:     #3D352E; // Темный сепия
$text-light: #23252C;
$text-headings: #2B2521; // Насыщенный эспрессо
$text-meta:     #8C7D6B; // Приглушенный сепия для мета-информации (даты, категории)
$accent-action: #E55B3C; // Терракотовый
$accent-trust:  #005A7A; // Глубокий сине-зеленый

// Дополнительная темная тема (для модальных окон и футера)
$dark-bg:       #23252c;
$dark-bg-light: #353535;
$dark-text:     #E8E8E8;
$dark-text-meta:#b8b8b8;
$dark-text-hover: #ada587;